// Color Palette

$grey-0: #353535;
$grey-1: #2c2c2c;
$grey-2: #1d1d1d;
$grey-text: #999999;

$yellow-0: #f3e500;

$purple-0: #ea00d9;
$purple-1: #d602c8;
$purple-2: #bb00ae;

$teal-0: #02e1ec;

$white: #ffffff;
