/*
  *= require_tree .
  *= require_self
*/

// Globals
@import "colors";

// Components
@import "button";
@import "card";
@import "input";
@import "modal";
@import "tasks";

body {
  background-color: var(--bg-0);
  color: var(--base);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.no-touch-action {
  touch-action: none;
}
