@import "colors";

button.btn-primary {
  background-color: var(--button-0);
  border-color: var(--button-1);
  color: var(--base);
  &:active,
  &:focus,
  &:hover {
    background-color: var(--button-1);
    border-color: var(--button-2);
    color: var(--base);
  }
}

div.dropdown {
  border-color: var(--button-2);
}

button.dropdown-toggle {
  background-color: var(--button-0);
  border-color: var(--button-1);
  color: var(--base);
  &:active,
  &:focus,
  &:hover {
    background-color: var(--button-1);
    border-color: var(--button-2);
    color: var(--base);
  }
}

a.dropdown-item {
  color: var(--base);
  &:active,
  &:focus,
  &:hover {
    background-color: var(--bg-2);
    color: var(--base);
  }
}
