@import "colors";

div.card {
  background-color: var(--bg-1);
  border-color: var(--bg-2);
}

div.card-body {
  background-color: var(--bg-1);
  border-color: var(--bg-2);
}

div.card-title {
  color: var(--highlight-0);
}

div.card-dragging {
  box-shadow: 3px 3px 1px var(--bg-2);
  opacity: 0.5;
}

svg.draghandle {
  color: var(--muted);
}

div.card.text-muted {
  color: var(--muted) !important;
  opacity: 0.3;
}
