@import "colors";

@mixin form-input {
  background-color: var(--bg-1);
  border-color: var(--bg-2);
  color: var(--base);
  &:active,
  &:focus,
  &:hover {
    background-color: var(--bg-2);
    color: var(--base);
  }
}

input {
  &.form-control {
    @include form-input();
  }
  &.form-input {
    @include form-input();
    width: 100%;
    margin-bottom: 1em;
  }
}

textarea {
  &.form-control {
    @include form-input();
  }
  &.form-input {
    @include form-input();
    width: 100%;
    margin-bottom: 1em;
  }
}

label {
  &.form-label {
    color: var(--highlight-0);
  }
}
