@import "colors";

div.modal-content {
  background-color: $grey-0;
}

div.modal-title {
  color: $teal-0;
  input.form-input {
    color: $teal-0;
  }
}

div.modal-header {
  border-color: $grey-0;
}

div.modal-footer {
  border-color: $grey-0;
}
