@import "colors";

div.modal-content {
  background-color: var(--bg-0);
}

div.modal-title {
  color: var(--highlight-0);
  input.form-input {
    color: var(--highlight-0);
  }
}

div.modal-header {
  border-color: var(--bg-0);
}

div.modal-footer {
  border-color: var(--bg-0);
}
