@import "colors";

div.tasks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  padding: 1em;
  row-gap: 1em;
}

div.task-description {
  white-space: pre-line;
}

div.tasks-message {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
